/* HEADER */

.container{

	margin-bottom: -3;

}
nav {

	background-color: #;
	color: #;
	margin-top: 30;

}

body{

	background-color: #fff;
}

.carousel-inner img{
}

.form-row{
	margin: 5px 5px;
}
